<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projekt_java.organizator_dostaw">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VolunteersActivity" />
        <activity android:name=".DeliveriesActivity" />
        <activity android:name=".VolunteersEditActivity" />
        <activity android:name=".DeliveriesEditActivity" />
        <activity
            android:name=".UpdateActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog.MinWidth" />
        <activity android:name=".VolunteersIndirectActivity" />
        <activity android:name=".VolunteersHours" />
        <activity android:name=".DeliveriesIndirectActivity" />
        <activity android:name=".DeliveriesHours"></activity>
    </application>

</manifest>